.signup-window.MuiPaper-root {
  max-width: 100%;
  padding: calc(36px + 6 * ((100vw - 768px) / 1152));
  text-align: left;
}

p.signup-title.MuiTypography-root {
  font-style: normal;
  font-weight: 300;
  font-size: calc(36px + 16 * ((100vw - 768px) / 1152));
  line-height: calc(42px + 16 * ((100vw - 768px) / 1152));
  margin: 0 0 40px 23px;
}

.signup-input-label.MuiTypography-body1 {
  padding-bottom: 8px;
}

.input.MuiFormControl-root {
  padding-bottom: 8px;
}

.signin-link.MuiButton-root {
  margin-top: 8px;
}

.signup-bottom-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 7px;
  padding-bottom: 24px;
  width: 100%;

  a {
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  .signup-window.MuiPaper-root {
    padding: calc(36px + 6 * ((100vw - 768px) / 1152));
    text-align: left;
  }
}