#delete-dialog-title.MuiDialogTitle-root {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    padding: 4px 0 4px 16px;
  }
}

#delete-dialog-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px; 
  line-height: 28px;
  color: #000000;
  padding: 22px 20px 40px 20px;
}

.delete-actions.MuiDialogActions-root {
  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px;
}