#delete-dialog-title.MuiDialogTitle-root {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: calc(36px + 16 * ((100vw - 768px) / 1152));
    line-height: calc(42px + 16 * ((100vw - 768px) / 1152));
    padding: 4px 0 4px 16px;
  }
}

#delete-dialog-description {
  font-size: calc(24px + 8 * ((100vw - 768px) / 1152));
  line-height: calc(28px + 8 * ((100vw - 768px) / 1152));
  color: #000000;
  padding: 22px 20px 40px 20px;
}

.delete-actions.MuiDialogActions-root {
  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px;
}

@media (max-width: 768px) {
  .MuiDialog-paperWidthSm {
    width: 75vw;
  }
}

@media (max-width: 480px) {
  .MuiDialog-paperWidthSm {
    width: 90vw;
  }

  #delete-dialog-description{
    padding: 6px 12px 16px 12px !important;
  }
}

@media (max-width: 360px) {
  .MuiDialog-paperWidthSm {
    width: 100vw;
  }

  #delete-dialog-description {
    padding: 12px 12px 12px 12px !important;
  }
}