.sort-bar-container.MuiContainer-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 40px;
  padding-bottom: 10px;
}

.sort-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-by-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-direction-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-add-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-label.MuiTypography-body1 {
  padding: 0 18px 0 18px;
}

@media (max-width: 1024px) {
  .sort-bar-container.MuiContainer-root {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .filter-add-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 10px;
  }
}

@media (max-width: 640px) {
  .sort-bar-container.MuiContainer-root {
    padding-top: 24px;
    padding-bottom: 0px;
  }

  .sort-bar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .sort-direction-block {
    padding-top: 10px;
  }
}