.sort-bar-container.MuiContainer-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 40px;
}

#select-sort {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
}

#select-sort-direction {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
} 

.sort-by-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
}

.sort-direction-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
}

.filter-add-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
}

.sort-label.MuiTypography-body1 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  text-transform: none;
  padding: 0 18px 0 18px;
}