.signin-window.MuiPaper-root {
  padding: 40px 40px 0 40px;
  text-align: left;
}

p.signin-title.MuiTypography-root {
  font-style: normal;
  font-weight: 300;
  font-size: calc(36px + 16 * ((100vw - 768px) / 1152));
  line-height: calc(42px + 16 * ((100vw - 768px) / 1152));
  margin: 0 0 40px 23px;
}

.signin-input-label.MuiTypography-body1 {
  padding-bottom: 8px;
}

.signin-input.MuiFormControl-root {
  padding-bottom: 8px;
}

.button-log.MuiButton-root {
  margin-top: 32px;
}

.signin-link.MuiButton-root {
  margin-top: 8px;
}

.login-error.MuiTypography-body1 {
  color: rgb(172, 0, 0);
  max-width: 321px;
}

.signin-bottom-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 7px;
  padding-bottom: 24px;
  width: 100%;

  a {
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
}